[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/reynhout/Desktop/trout2]
row=1
col=0

[/home/reynhout/Desktop/trout3]
row=3
col=0

[/home/reynhout/Desktop/trout3-files]
row=4
col=0

[/home/reynhout/Desktop/trout2-files]
row=2
col=0

[/home/reynhout/Desktop/trout]
row=0
col=0

