Source: galliumos-samus
Section: admin
Priority: required
Maintainer: GalliumOS <galliumos@galliumos.org>
Standards-Version: 3.9.1

Package: galliumos-samus
Architecture: all
Priority: required
Depends: galliumos-base, galliumos-broadwell, galliumos-hidpi
Provides: galliumos-device
Replaces: galliumos-broadwell, pulseaudio
Description: GalliumOS customizations for SAMUS
 This package contains SAMUS-specific files for GalliumOS
